//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "layout/layout";

// ComDash Styling by J4cks August 2022
$comdash-black: #05090A;
$comdash-grey: #565674;
$comdash-sky: #009FF7;
$comdash-greytext: #8A8A99;
$comdash-navy: #1E1E2D;
$comdash-mint: #50CC89;


.com-black { background: $comdash-black;}
.com-grey { background: $comdash-grey;}
.com-sky { background: $comdash-sky;}
.com-text { background: $comdash-greytext;}
.com-navy { background: $comdash-navy;}
.com-mint { background: $comdash-mint;}

body {
	background-color: #151520;
}